<div class="mb-3">
  <h6 class="fw-bold mb-0">Delete Device</h6>
  <div class="text-muted">Delete the device {{ device.name }}</div>
</div>

<div class="card card-danger text-center">
  <div class="card-body">
    <div class="card-icon danger mb-3"><i class="fa-solid fa-circle-xmark"></i></div>
    <h4>Delete device {{ device.name }}</h4>
    <p class="mx-auto mb-4" style="max-width: 32rem;">Are you sure you want to delete the device {{ device.name }} from configuration?</p>

    <button type="button" class="btn btn-outline-secondary" data-device-cancel>Cancel</button>
    <button type="button" class="btn btn-danger" data-device-delete>Delete Device</button>
  </div>
</div>
