<div class="d-flex align-items-center justify-content-between mb-3">
  <div>
    <h6 class="fw-bold mb-0">Edit Device</h6>
    <div class="text-muted">Edit the configuration of the device {{ device.name }}</div>
  </div>
  <div>
    <button type="button" class="btn btn-outline-danger" data-device-delete>Delete Device</button>
  </div>
</div>

<form class="card rounded" novalidate>
  <div class="card-header">Main Configuration</div>

  <div class="card-body">
    <div class="mb-3">
      <label for="name" class="form-label">Device Name <strong class="text-danger">*</strong></label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        value="{{ device.name }}"
        placeholder="e.g. Living Room TV"
        pattern="^[a-zA-Z0-9 ]+$"
        required
      />
      <div class="invalid-feedback">Please enter a valid device name.</div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label for="ipAddress" class="form-label">IP Address <strong class="text-danger">*</strong></label>
        <input
          type="text"
          class="form-control"
          id="ipAddress"
          name="ipAddress"
          value="{{ device.ip }}"
          placeholder="e.g. 192.168.1.100"
          pattern="^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
          required
        />
        <div class="invalid-feedback">Please enter a valid IP address</div>
        <small class="form-text text-muted">The IP address of your Samsung TV</small>
      </div>

      <div class="col-md-6">
        <label for="macAddress" class="form-label">MAC Address <strong class="text-danger">*</strong></label>
        <input
          type="text"
          class="form-control"
          id="macAddress"
          name="macAddress"
          value="{{ device.mac }}"
          placeholder="e.g. AA:BB:CC:DD:EE:FF"
          pattern="([0-9a-fA-F]{2}(:|-)){5}[0-9a-fA-F]{2}"
          required
        />
        <div class="invalid-feedback">Please enter a valid MAC address</div>
        <small class="form-text text-muted">The MAC address of your Samsung TV</small>
      </div>
    </div>

    <hr class="my-4 text-muted" />

    <div class="mb-3">
      <label for="device_id" class="form-label">SmartThings Device ID <span class="text-muted">(optional)</span></label>
      <input
        type="text"
        class="form-control"
        id="device_id"
        name="device_id"
        value="{{ device.device_id }}"
        placeholder="e.g. d3b4f9a1-22cc-4e1f-b8aa-0011aabbccdd"
        pattern="^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
      />
      <div class="invalid-feedback">Please enter a valid SmartThings device ID</div>
    </div>

    <div class="mb-3">
      <label for="uuid" class="form-label">UUID <span class="text-muted">(optional)</span></label>
      <input type="text" class="form-control" id="uuid" name="uuid" value="{{ device.uuid }}" placeholder="e.g. AX1D" />
      <small class="form-text text-muted">If you have problems adding the TV to Home app, set this field to a unique value</small>
    </div>

    <hr class="my-4 text-muted" />

    <div>
      <label class="hb-uix-switch" for="option.Switch.DeviceName.Disable">
        <input
          type="checkbox"
          id="option.Switch.DeviceName.Disable"
          name="options[]"
          value="Switch.DeviceName.Disable"
          {{ 'checked' if device.options and device.options.includes('Switch.DeviceName.Disable') else '' }}
        />
        <span>Disable prepending device name on custom switches</span>
        <span class="hb-uix-slider hb-uix-round"></span>
      </label>
    </div>
  </div>

  <div class="card-footer text-end">
    <button type="button" class="btn btn-outline-secondary" data-page="dashboard">Cancel</button>
    <button type="submit" class="btn btn-primary">Continue to authorization <i class="fas fa-arrow-right"></i></button>
  </div>
</form>
