<div class="mb-3">
  <h6 class="fw-bold mb-0">Add Input</h6>
  <div class="text-muted">Configure a new global input that applies to all devices</div>
</div>

<form class="card rounded" novalidate>
  <div class="card-body">
    <div class="mb-3">
      <label for="name" class="form-label">Input Name <strong class="text-danger">*</strong></label>
      <input type="text" class="form-control" id="name" name="name" placeholder="e.g. YouTube" pattern="^[a-zA-Z0-9 ]+$" required />
      <div class="invalid-feedback">Please enter a valid input name.</div>
    </div>

    <div class="mb-3">
      <label for="type" class="form-label">Input Type <strong class="text-danger">*</strong></label>
      <select class="form-select" id="type" name="type" required>
        <option value="" selected disabled>Choose input type ...</option>
        <option value="input">Input</option>
        <option value="app">Application</option>
        <option value="command">Command</option>
      </select>
      <div class="invalid-feedback">Please choose an input type.</div>
    </div>

    <div class="d-none" data-type="input">
      <label for="value-input" class="form-label">Input Value <strong class="text-danger">*</strong></label>
      <input type="text" class="form-control" id="value-input" name="value" placeholder="e.g. digitalTv" required disabled />
      <div class="invalid-feedback">Please enter a valid input value.</div>
      <small class="form-text text-muted"
        >This type of input requires a SmartThings connection. Possible values for this input type: digitalTv, USB, HDMI1, HDMI2, HDMI3, HDMI4, HDMI5,
        HDMI6</small
      >
    </div>

    <div class="d-none" data-type="app">
      <label for="value-app" class="form-label">Application ID <strong class="text-danger">*</strong></label>
      <input
        type="text"
        class="form-control"
        id="value-app"
        name="value"
        placeholder="e.g. 111299001912"
        pattern="^[0-9]+$"
        inputmode="numeric"
        required
        disabled
      />
      <div class="invalid-feedback">Please enter a valid application ID.</div>
      <small class="form-text text-muted">You can find a list with available application IDs over here.</small>
    </div>

    <div class="d-none" data-type="command">
      <label class="form-label">Key(s) to execute <strong class="text-danger">*</strong></label>
      <div class="d-flex flex-column gap-2" data-command-list>
        <div class="input-group">
          <input type="text" name="command[]" class="form-control font-monospace text-uppercase" placeholder="e.g. KEY_VOLUP" required disabled />
          <button type="button" class="btn btn-outline-danger" type="button" data-command-remove>
            <i class="fas fa-xmark"></i>
          </button>
        </div>
      </div>
      <button type="button" class="btn btn-outline-primary mt-2" data-command-add><i class="fas fa-plus"></i> Add Command</button>

      <template id="command-row-template">
        <div class="input-group">
          <input type="text" name="command[]" class="form-control font-monospace text-uppercase" placeholder="e.g. KEY_VOLUP" required />
          <button type="button" class="btn btn-outline-danger" data-command-remove>
            <i class="fas fa-xmark"></i>
          </button>
        </div>
      </template>
    </div>
  </div>

  <div class="card-footer text-end">
    <button type="button" class="btn btn-outline-secondary" data-page="dashboard">Cancel</button>
    <button type="submit" class="btn btn-primary">Add Input <i class="fas fa-arrow-right"></i></button>
  </div>
</form>
