<div class="mb-3">
  <h6 class="fw-bold mb-0">Delete Input</h6>
  <div class="text-muted">Delete the input {{ input.name }}</div>
</div>

<div class="card card-danger text-center">
  <div class="card-body">
    <div class="card-icon danger mb-3"><i class="fa-solid fa-circle-xmark"></i></div>
    <h4>Delete input {{ input.name }}</h4>
    <p class="mx-auto mb-4" style="max-width: 32rem;">Are you sure you want to delete the input {{ input.name }} from configuration?</p>

    <button type="button" class="btn btn-outline-secondary" data-input-cancel>Cancel</button>
    <button type="button" class="btn btn-danger" data-input-confirm>Delete Input</button>
  </div>
</div>
