{% if config.inputs %}
  <table class="table table-hover mb-0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Value</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for input in config.inputs %}
        <tr class="align-middle">
          <td class="text-dark fw-semibold text-nowrap w-25">{{ input.name }}</td>
          <td class="text-muted text-capitalize">{{ input.type }}</td>
          <td class="text-muted">
            {% if input.value is iterable and input.value is not string %}
              {{ input.value | join(", ") }}
            {% else %}
              {{ input.value }}
            {% endif %}
          </td>
          <td class="text-end">
            <button type="button" class="btn btn-primary" data-page="inputs" data-input-index="{{ loop.index0 }}">Edit</button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="card text-center mb-4 border-dashed">
    <div class="card-body">
      <h6 class="fw-semibold">No inputs configured</h6>
      <p class="small">Add your first input</p>

      <button type="button" class="btn btn-primary" data-page="inputs"><i class="fas fa-plus"></i> Add your first input</button>
    </div>
  </div>
{% endif %}
