{% if config.switches %}
  <table class="table table-hover mb-0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for switch in config.switches %}
        <tr class="align-middle">
          <td class="text-dark fw-semibold text-nowrap w-25">{{ switch.name }}</td>
          <td class="text-muted">
            <ul class="mb-0 small">
              {% for key, value in switch %}
                {% if key in ['power', 'sleep', 'mute', 'volume', 'app', 'input', 'channel', 'picture_mode', 'command'] %}
                  <li class="text-capitalize">
                    <span class="text-dark">{{ key | replace("_", " ") }}:</span>
                    <span class="fw-semibold">
                      {% if value is iterable and value is not string %}
                        {{ value | join(", ") }}
                      {% else %}
                        {{ value }}
                      {% endif %}
                    </span>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </td>
          <td class="text-end">
            <button type="button" class="btn btn-primary" data-page="switch" data-switch-index="{{ loop.index0 }}">Edit</button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="card text-center mb-4 border-dashed">
    <div class="card-body">
      <h6 class="fw-semibold">No switches configured</h6>
      <p class="small">Add your first switch</p>

      <button type="button" class="btn btn-primary" data-page="switch"><i class="fas fa-plus"></i> Add your first switch</button>
    </div>
  </div>
{% endif %}
