.btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
  text-transform: none;
  line-height: 1.5;
}

.border-dashed {
  border-style: dashed;
}

.text-abbr {
  text-decoration: underline dotted #6c757d;
  text-underline-offset: 3px;
  cursor: help;
}
